.mobile {
  .search-bar-container {
    width: 95%;
  }

  .movies-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .movie-item-container {
    width: 90%;
  }

  .movies-category-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 5px;
    justify-items: center;
    align-items: center;
  }

  .movie-item-container {
    button {
      font-size: 10px;
    }
  }
}

.mobile.landscape {
  .movies-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .movie-item-container {
    width: 40%;
  }

  .movies-category-wrap {
    display: flex;
    justify-content: flex-start;

    button {
      font-size: 12px;
    }
  }

  .movies-list-container {
    justify-items: unset;
  }

  .movie-item-container {
    button {
      font-size: 10px;
    }
  }
}
