@import url("./assets/css/loader.css");
@import url("./assets/css/lobby.css");
@import url("./assets/css/movies.css");
@import url("./assets/css/responsive.css");
@import url("./assets/css/search.css");

:root {
  --retro-blue: #001524;
  --retro-nude: #d6cc99;
  --retro-pink: #fde5d4;
  --retro-green: #445d48;
  --dark-nude: #bca37f;
  --light-nude: #f5eec8;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--retro-blue);
}

@media only screen and (max-width: 650px) {
  .movies-category-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 5px;
    justify-items: center;
    align-items: center;
  }
}
